# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl
terraform/*.pem

# Node
app/node_modules/
app/dist/
app/.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
